@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Autofill Custom */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #383838 !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(54 121 161 / 4%) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Autofill Custom */


/* Global */

html {
  overflow: hidden;
}

label {
  font-weight: 700 !important;
}


.preview .hide-label label {
  visibility: hidden;
}

.preview .content .form-type-heading {
  display: none !important;
}


.preview .is-active {
  z-index: 1000000000;
}


.preview .control-label--hidden {
  display: none;
}

figure {
  display: flex;
  justify-content: center;
}

figure table,
figure td {
  border: none !important;
}

#confirm_template_mode {
  padding: 0 1rem !important;
}

.preview .row .col-sm-2 {
  display: none !important;
}

.preview .row .col-sm-2:nth-child(1),
.preview .row .col-sm-2:nth-child(2),
.preview .row .col-sm-2:last-child {
  display: block !important;
}

.preview .page-title {
  /* background: rgb(209,84,149) !important; 
 background: radial-gradient(circle, #ce629d 10%, #317aa3 200%);
 background: linear-gradient(145deg, #383838 0%, #383838 100%) !important; */
  background-color: #383838;
  border-radius: 7px;
  border-top-right-radius: 0;
}

.preview .wrapper formio {
 width: 55%;
}


/* Global */


/* Loading MeshID Logo */

.preview .logo {
  position: absolute;
  z-index: 100000000;
}

/* Loading MeshID Logo */

/* Form-Container  */

.formio-form[ref="webform"] {
  padding-bottom: 40px !important;
}

.preview div[role="form"][aria-label="Container"] {
  height: 100%;
}

.preview .content .wrapper {
  display: flex !important;
  height: 100vh;
  overflow-x: hidden;
  background: #dbdbdb;
  width: 100vw;
  justify-content: center;
}

.formio-wrapper {
  background-color: #dbdbdb;
}

.preview .content {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  top: 0vh !important;
  left: 0vw !important;
  background-color: #fff !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

/* Form-Container  */

/* Sidebar  */


.preview .card-header-tabs {
  flex-direction: column;
  margin: 0;
}

.preview .nav-tabs {
  position: relative;
}

.preview .nav-tabs .nav-item:first-child {
  display: none !important;
}

.preview .card-header {
  background: #dbdbdb;
  width: 235px;
  position: fixed;
  top: 130px;
  left: -400px;
  height: max-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  width: max-content !important;
  min-height: 400px;
  z-index: 100;
  padding: 0;
}

.preview .nav-header {
  background: #383838;
  color: #fff;
  font-size: 1.1rem;
  padding: 8px;
  width: 100%;
  text-align: start;
  padding-left: 18px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 10px;
}

.preview .nav-tabs .nav-link.active {
  background-color: transparent !important;
  color: #fff !important;
  pointer-events: none !important;
}

.preview .nav-tabs .nav-item.active {
  background-color: #00a86b;
}


.preview .nav-item {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: transparent;
  padding-left: 18px;
}

.preview .nav-link {
  padding-left: 0;
  font-size: 1.2rem;
  font-weight: 700;
  border: 0;
  width: 100%;
  pointer-events: auto;
}

.preview .nav-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 0;
  background-color: #383838;
  transition: all 0.3s ease-out;
  z-index: -1;
  transform: translateX(-18px);
}

.preview .nav-item.hovered::after {
  width: 10px;
  height: 100%;
}

.preview .nav-item.active.hovered::after {
  width: 0;
}

.preview .nav-link:hover {
  color: #383838;
  transition: all 0.3s;
}

.preview .nav-link.active:hover::after {
  width: 0%;
}

.preview .nav-link svg {
  transform: translateY(-2px);
}

.preview .header {
  position: fixed;
  z-index: 1001;
  box-shadow: 0px -14px 12px #e3e3e3, 7px 0px 14px #a9a9a9, 0px 14px 12px #e3e3e3, -7px 0px 14px #a9a9a9;
  margin: 1rem;
  padding: 0.9rem 1rem;
  border-radius: 7px 0 7px 7px;
}


.toggle-icon {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #383838;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1 {
  width: 50%;
}

#bar2 {
  width: 75%;
}

.toggle-icon.toggled + .toggle-icon .bars {
  position: absolute;
  transition-duration: .5s;
}

.toggle-icon.toggled + .toggle-icon #bar2 {
  transform: scaleX(0);
  transition-duration: .1s;
}

.toggle-icon.toggled + .toggle-icon #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

.toggle-icon.toggled + .toggle-icon #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

.toggle-icon.toggled + .toggle-icon {
  transition-duration: .5s;
  transform: rotate(180deg);
}


.sidebarshow {
  left: 0 !important;
}


/* Sidebar  */

/* Main form  */




.preview .content .card {
  border: none;
  border-radius: 7px !important;
  border-top-right-radius: 0 !important;
  min-height: max-content !important;
  border-radius: 48px;
  border-radius: 48px;
  /* background: linear-gradient(315deg, #c8c8c8, #e3e3e3); */
  background: #dbdbdb;
  box-shadow: 0px -14px 12px #e3e3e3, 7px 0px 14px #a9a9a9, 0px 14px 12px #e3e3e3, -7px 0px 14px #a9a9a9;
  z-index: 1000;
  overflow: hidden;
}

.preview .card-body {
  padding: 0 !important;
}

/* Main form  */


/* Signee Details   */

.overlay:before {
  content: "This section will become available after all other sections are complete";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='240' height='240'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10 0 2.136-.67 4.116-1.811 5.741L17 12h3a8 8 0 1 0-2.46 5.772l.998 1.795A9.961 9.961 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2zm0 5a3 3 0 0 1 3 3v1h1v5H8v-5h1v-1a3 3 0 0 1 3-3zm2 6h-4v1h4v-1zm-2-4a1 1 0 0 0-.993.883L11 10v1h2v-1a1 1 0 0 0-.883-.993L12 9z' fill='rgba(236,240,241,1)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 400px;
  font-size: 34px;
  color: #ffffff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 400px;
  z-index: 1001;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color-burn;
  padding: 2rem;
  padding-top: 6rem;
  border-radius: 100px;
  text-shadow: 8px -8px 20px black;
}

.overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Signee Details   */


/* Buttons  */

.preview .get-started {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview .get-started button {
  border-radius: 50px;
  padding: 1rem 4rem;
  background: transparent !important;
  border: none;
  box-shadow: 0px -7px 6px #e3e3e3, 7px 0px 14px #a9a9a9, 0px 14px 12px #e3e3e3, -7px 0px 14px #a9a9a9 !important;
  color: #383838;
  font-weight: 700;
  transition: transform 0.5s ease, box-shadow 0.5s ease;}

.preview .get-started button:hover{
  transform: translateY(-5px) !important;
} 

.preview .get-started button:active {
  border-radius: 50px;
  background: transparent;
  border: none !important;
  color: #383838 !important;
  font-weight: 700;
  box-shadow: inset -14px 14px 20px 0px #f0f0f0, inset 14px -7px 5px #979797 !important;
  transform: translateY(0px) !important;
}

.navigation-back svg,
.navigation-next svg {
  width: 90px;
  height: 90px;
  transform: translate(0);
}

.navigation-next svg {
  width: 220px;
}

.navigation-back path,
.navigation-next path {
  transition: 0.4s;
}

.navigation-back svg:hover path,
.navigation-next svg:hover path {
  fill: black;
}

.preview .navigation-back,
.preview .navigation-next {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview .navigation-back .navigation-back,
.preview .navigation-next .navigation-next {
  background: none;
  border: none;
}

.preview .navigation-next svg rect {
  opacity: 0.5;
  transition: 0.4s;
}

.preview .navigation-next svg:hover rect {
  opacity: 0.8;
}

.preview svg {
  transition: 0.4s;
}

.preview button:hover svg {
  transform: scale(0.95);
}

.preview button:active svg {
  transform: scale(1.05);
}

.preview .navigation-back .btn-success,
.preview .navigation-next .btn-success,
.preview .navigation-back .btn-danger,
.preview .navigation-next .btn-danger {
  background: none !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.preview .next-green rect {
  transition: 0.5s;
  fill: #00a86b;
  opacity: 1 !important;
  stroke-width: 0;
}

.preview .next-green svg:hover rect {
  fill: #fff;
  stroke-width: 2;
  stroke: #00a86b;
}

.preview .next-green text {
  fill: #fff;
}

.preview .next-green svg:hover text {
  fill: #00a86b;
}

.preview .signee-details .next-green rect {
  stroke-dasharray: 630;
  stroke-dashoffset: 500;
  transition: 1.5s;
}

.preview .signee-details .next-green svg:hover rect {
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #00a86b;
  fill: #fff;
}

.preview .signee-details .next-green svg:hover text {
  fill: #00a86b;
}

/* Textfields + Textarea  */

.preview .meshid-custom .form-control {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 10px;
  min-height: 50px;
  border-radius: 7px 0 7px 7px !important;
  border-left: 9px solid;
  border-color: #383838;
  color: #253341;
  font-size: 15px;
  transition: border-color 0.3s;
  appearance: none;
  background-color: #eeeeee;
}

.preview .meshid-custom .formio-component-textarea .form-control {
  height: 100px;
}


.preview .meshid-custom .formio-component-textfield label,
.preview .meshid-custom .formio-component-datagrid th,
.preview .meshid-custom .formio-component-textarea label,
.preview .meshid-custom .formio-component-email label,
.preview .meshid-custom .formio-component-datetime label,
.preview
  .meshid-custom
  .formio-component-select:not(.formio-component-code)
  label {
  transition: 250ms;
  z-index: 1;
  font-weight: 700;
  position: relative;
  transform: translate(20px, 43px);
  opacity: 1 !important;
  pointer-events: none !important;
  color: #383838;
}


.preview .meshid-custom .form-control:focus {
  box-shadow: none !important;
}

.preview .meshid-custom .input-group-append {
  position: absolute;
  right: 0;
}
.preview .meshid-custom .input-group-prepend {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.preview .meshid-custom .input-group-prepend + input {
  text-indent: 30px;
}

.preview .meshid-custom .input-group-append span,
.preview .meshid-custom .input-group-prepend span {
  min-height: 50px;
  border: none;
  background: rgb(128 128 128 / 30%);
  z-index: 10;
}

/* Textfields + Textarea  */

/* Formio-component-multiple */


.preview .meshid-custom .form-group.formio-component-multiple label {
  transform: none;
}

.preview
.meshid-custom
.form-group.formio-component-multiple
tr[ref="row"]:first-of-type
.btn.btn-secondary {
  visibility: hidden !important;
}


.preview .formio-component-multiple .choices__input {
  background: transparent;
}

.preview .formio-component-multiple .table-bordered,
.preview .formio-component-multiple .table-bordered th,
.preview .formio-component-multiple .table-bordered td {
  border: none;
  padding-left: 0;
}


/* Formio-component-multiple */


/* Datagrid + Editgrid */

.preview .meshid-custom .formio-component-datagrid th {
  transform: none;
}



.preview .meshid-custom .formio-button-add-another,
.preview .meshid-custom .formio-button-add-row {
  background: #383838 !important;
  border: #383838 !important;
  box-shadow: none !important;
  transition: 300ms;
}

.preview .meshid-custom .formio-button-add-another:active,
.preview .meshid-custom .formio-button-add-another:focus,
.preview .meshid-custom .formio-button-add-row:active,
.preview .meshid-custom .formio-button-add-row:focus {
  background: #000000 !important;
  border: #000000 !important;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4) !important;
}

/* Datagrid + Editgrid */

/* Custom Phone Number */

.preview .meshid-custom .custom-mobile .fieldset-body {
  display: flex;
}

.preview
  .meshid-custom
  .custom-mobile
  .fieldset-body
  .formio-component-number
  .form-control {
  border-left: none;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.preview .meshid-custom .custom-mobile div.form-control {
  border-right: none;
  border-bottom-right-radius: 0 !important;
}

.preview
  .meshid-custom
  .custom-mobile
  .fieldset-body
  .formio-component-number
  .form-control {
  border-left: none;
}



.preview .meshid-custom .custom-mobile .fieldset-body .formio-component-select {
  width: 30%;
}

.preview
  .meshid-custom
  .custom-mobile
  .fieldset-body
  .formio-component-select
  .field-required:after {
  content: "";
  display: none;
}
.preview .meshid-custom .custom-mobile .fieldset-body .formio-component-number {
  width: 70%;
}


/* Custom Phone Number */


/* Dropdown */

.preview .choices__item.choices__item--choice[data-id="1"] {
  display: none;
}

/* Dropdown */


/* Radio and Checkboxes  */


.preview .custom-meshid-radio {
  padding-left: 0;
  margin-right: 0;
}
.preview .custom-meshid-radio label {
  color: #383838;
  display: block;
  position: relative;
  width: max-content;
}

.preview .custom-meshid-radio label input[type="radio"],
.preview .custom-meshid-radio label input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.preview .custom-meshid-radio label span {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1rem;
  font-weight: bold;
  padding: 0px 35px;
  padding-bottom: 0;
  margin: 10px auto;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

.preview .custom-meshid-radio label:hover span {
  color: #00a86b;
}

.preview label .check {
  display: block;
  position: absolute;
  border: 4px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.preview .form-check-inline label .check {
  top: 9px;
}

.preview .formio-component-selectboxes label .check {
  border-radius: 0;
}

.preview .custom-meshid-radio label:hover .check {
  border: 4px solid #00a86b;
}

.preview .custom-meshid-radio label .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12px;
  width: 12px;
  transform: translate(28%, 28%);
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.preview
  .formio-component-selectboxes
  .custom-meshid-radio
  label
  .check::before {
  border-radius: 0;
}

.preview input[type="radio"]:checked ~ .check,
.preview input[type="checkbox"]:checked ~ .check {
  border: 4px solid #0b814c;
}

.preview input[type="radio"]:checked ~ .check::before,
.preview input[type="checkbox"]:checked ~ .check::before {
  background: #0b814c;
}

.preview input[type="radio"]:checked ~ span,
.preview input[type="checkbox"]:checked ~ span {
  color: #0b814c;
}

/* Radio and Checkboxes  */


/* Animations  */

.fade-out {
  opacity: 1;
  animation-name: fadeOut;
  animation-duration: 2s; /* Reduce the animation duration to 1s */
  animation-delay: 2s; /* Add a delay of 1s before starting the animation */
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s; /* Reduce the animation duration to 1s */
  animation-delay: 2s; /* Add a delay of 1s before starting the animation */
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tab-animation {
  animation-name: tab-animation;
  animation-duration: 0.8s;
}
@keyframes tab-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button-animation {
  animation-name: button-animation;
  animation-duration: 1.8s;
}
@keyframes button-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-item-hide {
  animation-name: hide-animation;
  animation-duration: 0.9s;
}
@keyframes hide-animation {
  from {
    transform: translate(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-2%);
    opacity: 0;
  }
}
.nav-item-show {
  animation-name: show-animation;
  animation-duration: 0.8s;
}
@keyframes show-animation {
  from {
    transform: translateY(2%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}

.card-animation {
  animation: card-animation 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

@keyframes card-animation {
  0% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateX(0);
  }
}

.back {
  animation: right-to-left-animation 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

@keyframes right-to-left-animation {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.next {
  animation: left-to-right-animation 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

@keyframes left-to-right-animation {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Animations  */

/* Validations  */

.formio-component-cp .form-text error {
  display: none;
}


.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  margin: 10px 0;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.preview .boxes svg {
  margin-right: 5px;
}

.preview .meshid-custom .has-error label {
  color: #e00303 !important;
  transform: none !important;
}

.preview .meshid-custom .formio-error-wrapper {
  color: #e00303;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.preview .meshid-custom .formio-error-wrapper .form-control {
  border-left: 9px solid #e00303 !important;
}

.preview .meshid-custom .formio-error-wrapper label {
  color: #e00303 !important;
}

.preview .meshid-custom .form-control.is-invalid {
  border-color: #e00303;
}

.preview
  .meshid-custom
  .custom-mobile
  .fieldset-body
  .formio-component-number
  .form-control.is-invalid {
  border-left: 9px solid #e00303;
}

.formio-errors .error {
  color: #e00303;
  font-weight: 800;
  letter-spacing: 0.8px;
}
/* Validations  */


/* Error Alert  */

#snackbar {
  color: #e00303;
  background-color: #fff;
  text-align: center;
  border-radius: 0px;
  border-left: 9px solid #e00303;
  padding: 13px;
  z-index: 10000000;
  bottom: 60px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: translateY(-120px);
  animation: snackbar-fadein 1s, snackbar-fadeout 1s 2s;
}

.snackbar-div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.fa-times-circle{
  font-size: 16px;
  margin-bottom: 0px;
}

@-webkit-keyframes snackbar-fadein {
  from {transform: translateY(-80px); opacity: 0;}
  to {transform: translateY(-120px); opacity: 1;} 
}

@keyframes snackbar-fadein {
  from {transform: translateY(-80px); opacity: 0;}
  to {transform: translateY(-120px); opacity: 1;} 
}

@-webkit-keyframes snackbar-fadeout {
  from {transform: translateY(-120px); opacity: 1;} 
  to {transform: translateY(-80px); opacity: 0;}
}

@keyframes snackbar-fadeout {
  from {transform: translateY(-120px); opacity: 1;}
  to {transform: translateY(-80px); opacity: 0;}
}

#snackbar-message{
  margin-bottom: -2px;
}


/* Error Alert  */


